In [1]:
intergerNumber = 4
decimalNumber = 22.2
stringVariable = "StringValue"
print(intergerNumber, decimalNumber, stringVariable)

4 22.2 StringValue

In [2]:
intergerNumber, decimalNumber, stringVariable = 4, 22.2, "StringValue"
print(intergerNumber, decimalNumber, stringVariable)

4 22.2 StringValue

In [3]:
variable1=variable2=variable3 = " All variable assigned same value "
print(variable1,variable2,variable3)

 All variable assigned same value   All variable assigned same value   All variable assigned same value

In [4]:
print(id(intergerNumber))

140708460359520

In [8]:
print(id(decimalNumber))               #print address of variable: 'decimalNumber'

1471397617336

In [9]:
interger1 = 10
interger2 = 10
interger3 = 10
interger4 = 10

print(id(interger1))   
print(id(interger2))   
print(id(interger3))   
print(id(interger4))

140708460359712
140708460359712
140708460359712
140708460359712

In [10]:
data1 = 12                               # integer data type
print(data1, " is of type", type(data1))

12  is of type <class 'int'>

In [11]:
data2 = 12.5                            # float data type
print(data2, " is of type", type(data2))

12.5  is of type <class 'float'>

In [12]:
data3 = 100 + 20j                          #data type is changed to complex number
print(data3, " is complex number?", isinstance(data3, complex))

(100+20j)  is complex number? True

In [13]:
booleanVariable = True                          # 'booleanVariable' is a boolean type & True is a keyword
print(type(booleanVariable))

<class 'bool'>

In [14]:
#Python String

In [15]:
stringVariable = """This is a string variable
HHGKGKKFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF"""
print('stringVariable is : ',stringVariable)
print('First character in stringVariable is : ',stringVariable[0])

stringVariable is :  This is a string variable
HHGKGKKFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
First character in stringVariable is :  T

In [16]:
# Slicing of String variable
print(stringVariable[0:7])
print(stringVariable[:7])
print(stringVariable[5:])

This is
This is
is a string variable
HHGKGKKFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF

In [17]:
#Python List

In [18]:
myList = [1, 2.2, "ThirdElement",12,24,"More values"]
print(myList)

[1, 2.2, 'ThirdElement', 12, 24, 'More values']

In [19]:
print(myList[2])

ThirdElement

In [20]:
myList[2] = "ElementThree"
print(myList)

[1, 2.2, 'ElementThree', 12, 24, 'More values']

In [21]:
myList.remove(2.2)                             # Remove item from a particular index
print(myList)

[1, 'ElementThree', 12, 24, 'More values']

In [22]:
myList.pop(2)                                 # Remove item from a particular index
print(myList)

[1, 'ElementThree', 24, 'More values']

In [23]:
myList.pop(2)                                 # Remove item from a particular index
print(myList)

[1, 'ElementThree', 'More values']

In [24]:
myList.append(2.2)                            # Add item at the last index
print(myList)

[1, 'ElementThree', 'More values', 2.2]

In [26]:
#Python Tuple

In [32]:
myTuple = (10,20,30,"Text")

In [31]:
print(myTuple[2])

30

In [33]:
myTuple[2] = 120

TypeError: 'tuple' object does not support item assignment

In [34]:
#Python Set

In [35]:
mySet = {10, 20, 30, 40, 50}
print(mySet)

{40, 10, 50, 20, 30}

In [36]:
mySet = {10, 20, 20, 30, 30}       # Only unique values considered, duplicates removed automatically
print(mySet)

{10, 20, 30}

In [37]:
print(type(mySet))

<class 'set'>

In [39]:
#Python Dictionary;-

Dictionary is an of key-value pairs.

It is generally used when we have a huge amount of data.
Dictionaries are optimized for retrieving data.
We must know the key to retrieve the value.

#In Python, dictionaries are defined within curly braces {}
with each item being a pair in the form key:value.
Key and value can be of  #

SyntaxError: invalid syntax (<ipython-input-39-ce7a6bde8e01>, line 3)

In [40]:
myDictionary = {'key1': "value1", 'key2': "value2", 'key3': "value3",}
print(myDictionary['key2'])

value2

In [41]:
myDictionary['key2'] = "value2.2"
print(myDictionary)

{'key1': 'value1', 'key2': 'value2.2', 'key3': 'value3'}

In [42]:
myDictionary["key4"] = "value4"
print(myDictionary)

{'key1': 'value1', 'key2': 'value2.2', 'key3': 'value3', 'key4': 'value4'}

In [43]:
del myDictionary["key2"]
print(myDictionary)

{'key1': 'value1', 'key3': 'value3', 'key4': 'value4'}

In [1]:
# Conversion between Datatypes
  Ans-    #To convert between different data types use different type conversion functions like int(), float(), str() etc.

In [2]:
int(5.5)

5

In [3]:
int(9.6)

9

In [6]:
int(9.9)

9.9

In [7]:
float(5)

5.0

In [8]:
float(12)

12.0

In [9]:
float(18)

18.0

In [10]:
str(5)

'5'

In [11]:
str(5.5)

'5.5'

In [12]:
int('5')

5

In [13]:
int('5.5')

ValueError: invalid literal for int() with base 10: '5.5'

In [14]:
float('5.5')

5.5

In [15]:
float('5')

5.0

In [16]:
int('CharIn10')

ValueError: invalid literal for int() with base 10: 'CharIn10'

In [17]:

myNewString = 'text1 '+ 20 + ' text2'

TypeError: can only concatenate str (not "int") to str

In [21]:
myNewString = 'text1 '+ str(20) + ' text2'
print(myNewString)

text1 20 text2

In [22]:
# 1> list to set
myList1 = ['a','b','c','c']
print(myList1)
print(type(myList1))
mySet1 = set(myList1)
print(type(mySet1))
print(mySet1)

['a', 'b', 'c', 'c']
<class 'list'>
<class 'set'>
{'c', 'a', 'b'}

In [23]:
 # 2> String to list
myString1 = 'This is string to list'
print(type(myString1))

strToList = list(myString1)
print(type(strToList))
print(strToList)

<class 'str'>
<class 'list'>
['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'l', 'i', 's', 't']